@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: #ebd9b4; */
  text-align: center;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ebd9b4;
}

h1 {
  margin: 10% 10px 40px 10px;
  font-weight: 800;
  font-size: 2.5rem;
}

img {
  width: 120px;
  border-radius: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #9dbc98;
  width: 20px;
  padding-top: 10px;
}

article {
  border: 2px black solid;
  background-color: #9dbc98;
  width: 35%;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

p {
  padding: 10px;
}

h4 {
  padding-top: 10px;
}

footer {
  margin-top: 60px;
}
